@import 'loaders.less';

@orange: #FF7D00;
@darkGrey: #494949;
@lightGrey: #7C7C7C;
@grey: #D4D3CF;
@selectedColor: #177FFC;
@fontFamily: 'SFNSText', 'Helvetica Neue', sans-serif;

body {
	margin: 0;
	padding: 0;
	font-family: @fontFamily;
}

#map {
	position: absolute;
	top: 46px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #EFEFEF;
}

#directions {
	width: 100%;
	max-width: 300px;
	top: 46px;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 9;
	display: block;
	overflow: scroll;

	background: rgba( 255, 255, 255, 0.8 );
	border-right: 1px solid @grey;

	#hide-directions {
		position: absolute;
		top: 10px;
		right: 15px;
		display: block;
		padding: 2px 7px 1px 7px;
		height: 21px;

		background: @grey;

		&:hover {
			background: #FFF;
			color: @lightGrey;
		}
	}

	#metadata {

		margin: 45px 15px 15px 15px;
		padding: 15px;
		display: block;

		border-radius: 5px;
		border: 1px solid @grey;
		background: #FFF;

		& > span {
			display: block;
			color: @darkGrey;

			&:first-child {
				padding-bottom: 15px;
				border-bottom: 1px solid @grey;
			}

			&:last-child {
				padding-top: 15px;
			}

		}

		#origin {
			color: @grey;

			&.set {
				color: @selectedColor;
			}
		}

		#destination {
			color: @grey;

			&.set {
				color: @selectedColor;
			}
		}

	}

	#transport {

		margin: 45px 15px 15px 15px;
		display: block;

		border-radius: 5px;
		border: 1px solid @grey;
		background: #FFF;

		a {

			padding: 15px;
			display: inline-block;
			cursor: pointer;

			&:hover {
				color: @grey;
				&.selected {
					color: @selectedColor;
				}
			}

			&.selected {
				color: @selectedColor;
			}

		}

	}

	#directions-activity-indicator[data-loader="circle"] {
		display: none;
		margin: 0 auto;
		margin-top: 45px;
		border: 1px solid @selectedColor;
		border-top-color: transparent;
	}

	ul#available-routes {
		margin-top: 45px;
		padding: 0 15px;
		list-style: none;

		li a {
			margin-bottom: 15px;
			padding: 15px;
			border-radius: 5px;
			border: 1px solid @grey;
			display: block;

			color: @darkGrey;
			text-decoration: none;
			background: #FFF;

			&:hover {
				color: #FFF;
				background: @selectedColor;
				border-color: @selectedColor;
			}

		}

	}

}

.close-button {
	padding: 0px 8px 3px 8px;
	height: 24px;
	width: 10px;
	background: #fff;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	color: @darkGrey;

	&:hover {
		background: #eee;
	}
}

#overlay {
	position: fixed;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	top: 0;
	left: 0;
	right: 0;
	height: 25px;
	z-index: 2000;
	font-family: @fontFamily;
	line-height: 1.5;
	border-bottom: 1px solid @orange;

	form {

		position: relative;

		#search-input {
			position: relative;
			display: block;
			margin: 0 auto;
			max-width: 325px;
			width: 100%;
			top: -10px;

			img {
				position: absolute;
				top: 10px;
				left: -35px;
				width: 25px;
				height: 25px;
			}

			#search {
				width: 100%;
				padding: 10px;
				border: none;
				font-size: 21px;
				font-weight: 300;
				margin: 0;
				z-index: 99;
				position: relative;

				&:focus {
					outline: none;
					border-color: transparent;
					box-shadow: 0 0 10px transparent;
				}

				&::-webkit-input-placeholder { font-weight: 300; }
				:-moz-placeholder { font-weight: 300; }
				::-moz-placeholder { font-weight: 300; }
				:-ms-input-placeholder { font-weight: 300; }

			}

			#activity_indicator[data-loader='circle'] {
				display: none;
				position: absolute;
				top: 1px;
				right: -20px;
				z-index: 999;
				border: 1px solid @orange;
				border-top-color: transparent;
			}

			#hide-suggestions {
			    top: 10px;
				right: -20px;
				position: absolute;
				z-index: 999;
				display: none;
			}

			#search-suggestions {
				display: none;
				z-index: 9;
				position: absolute;
				top: 46px;
				width: 100%;
				max-height: 205px;
				padding: 5px 10px;
				overflow: scroll;

				background: rgba(255,255,255,0.9);
				box-shadow: 0px 0px 15px rgba(0,0,0,0.15), 0px 0px 1px 1px rgba(0,0,0,0.1);
				border-radius: 0 0 5px 5px;

				ul {

					margin: 0;
					padding: 0;
					list-style: none;

					li {
						padding: 5px 0;

						a {
							display: block;
							padding: 5px 10px;

							border-radius: 5px;

							color: #000;
							text-decoration: none;

							span {
								display: block;

								&.subtitle {
									color: @lightGrey;
								}

							}

							&:hover {
								background: lighten(@orange, 10%);

								span {
									color: #fff;

									&.subtitle {
										color: #eee;
									}

								}

							}

						}

					}

				}

			}

		}

		h1 {
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;

			color: @darkGrey;

			font-family: @fontFamily;
			font-size: 21px;
			font-weight: 500;
			height: 16px;
			line-height: 25.2px;

			span {
				color: @orange;
				font-weight: 300;
			}
		}

		p {
			position: absolute;
			right: 10px;
			top: 3px;
			margin: 0;

			font-family: @fontFamily;
			font-size: 14px;
			font-weight: 300;
			color: @orange;

			a {
				font-weight: 500;
				text-decoration: none;
				color: @orange;

				&:hover {
					color: lighten( @orange, 10% )
				}

			}

		}

	}

}

#permalink {
	position: absolute;
	z-index: 9999;
	bottom: 20px;
	left: 50%;

	margin-left: -75px;
	width: 150px;

	display: none;

	border-radius: 5px;
	padding: 5px;

	font-family: @fontFamily;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	color: @darkGrey;
	background: rgba( 255, 255, 255, 0.8 );
	box-shadow: 0px 0px 15px rgba(0,0,0,0.15), 0px 0px 1px 1px rgba(0,0,0,0.1);
}
